<div class="row center-align add-user">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="header"><b>Execution Report for Releases</b></h5>
        <div class="row center">
          <div class="col s12">
            <%= form_tag releases_reports_path, remote: true, id: "release-drop-down" do %>
            <div class="input-field col s3">
              <%= select_tag :release_name, options_from_collection_for_select(Release.all, :title, :title, params[:release_name]), {prompt: "ALL"} %>
              <%= label_tag :release_name, "Release Version" %>
            </div>
            <% end %>
          </div>
        </div>
          <table id= "release_results">
            <thead>
              <tr>
                <th>Release</th>
                <th>Project</th>
                <th>Test Cycle</th>
                <th>Pass</th>
                <th>Fail</th>
                <th>Pending</th>
                <th>Total</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
                <%= render partial: 'reports/release'%>
            </tbody>
          </table>
    </div>
  </div>
</div>
